
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf4f5;
}

header {
    background: #22363d;
    color: #fff;
    padding: 10px 0;
}

header .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.estilo:link, .estilo:visited {
    background-color: #22363d;
    color: white;
    border: 2px solid #22363d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    .estilo:hover, .estilo:active {
    background-color: #83a4ad;
    color: white;
    }

img{
    border-radius: 5px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

section .container {
    width: 80%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form button {
    margin-top: 5px;
    padding: 10px;
}

form button {
    background-color: #22363d;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

